go 1.25

use (
	./app/api
	./app/migrations
	./app/ws
	./library/go/database
	./library/go/env
	./library/go/jwt
	./library/go/logger
	./library/go/models
	./library/go/password
	./library/go/responses
	./library/go/structs
	./library/go/validate
	./library/go/wss
)
